/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 $c1: #3E517A;
 $c2: #78CAD2;
 $c3: #62A8AC;
 $c4: #B08EA2;
 $c5: #A8E0FF;

body {
	background: $c1;
	color: white;
}

.jumbotron {
	color: $c1;
	background-color: $c5;
	border-color: $c4;
}

.product-well {
	height: 375px;
}

.well {
	background-color: $c3;
	color: white;
	border-color: $c4;
}

.well a {
	color: white;
}

.well a:hover {
	background-color: $c1;
}

.navbar {
	background-color: $c3;
	border-color: $c4;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.dropdown-menu {
	background-color: $c3;
}