/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
	background: #A8E0FF;
}

.product-well {
	height: 375px;
}

.well {
	background-color: #3E517A;
	color: white;
	border-color: #B08EA2;
}

.well a {
	color: white;
}

.well a:hover {
	background-color: #3E517A;
}

.navbar {
	background-color: #62A8AC;
	border-color: #B08EA2;
}